body {
    font-family: "Open Sans", helvetica, verdana, sans-serif;
    font-size: 12px;
}
#goal-list li {
    color: red;
}
#goal-list li.active {
    color: lightgreen;
}
#goal-list li.solved {
    color: green;
    font-weight: bold;
}
#goal-list,
#coveredTopicsList,
#actions-list,
#slot-list {
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #555;
}
h2 {
    text-align: center;
}
.messageList-container {
    height: 400px;
    overflow-y: scroll;
}
#messagesList {
    padding: 5px;
    margin: 0;
    border-radius: 1px;
}
.screen {
    height: 450px;
    overflow: hidden;
    position: relative;
    background: #666;
}
.phone-shield {
    min-height: 250px;
    max-width: 350px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background: #3e3e3e;
    box-shadow: 0 5px #d0d0d0;
}
.phone-shield .top {
    padding: 5px 0;
}
.phone-shield .bottom {
    padding: 5px 0;
}
.phone-shield .bottom .home-btn {
    border-radius: 5px;
    width: 50px;
    height: 30px;
    margin: 0 auto;
    border: 1px inset gray;
}
.phone-shield .top .speaker {
    border-top: 4px dotted black;
    width: 100px;
    margin: 0 auto 10px auto;
    box-shadow: 1px 1px white;
}
.phone-shield .top .brand {
    text-transform: uppercase;
    color: #EEEEEE;
    font-size: 18px;
    min-height: 25px;
    text-align: center;
    font-family: sans-serif;
}

.bot-input {
    overflow: hidden;
    padding: 4px;
}
.bot-input input,
.bot-input button {
    float: left;
    border: 1px solid black;
    padding: 0 10px;
    height: 30px;
    box-sizing: border-box;
}
.bot-input button {
    width: 30%;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    background: white;
}
.bot-input input {
    margin-right: 2%;
    width: 68%;
    display: block;
    font-size: 14px;
}

.messages .message {
    clear: both;
}
.messages li {
    display: block;
    margin: 5px 0;
}
.messages li {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
}
.messages .message.bots {
    text-align: left;
    position: relative;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    background: lightcoral;
    border-radius: 1.25rem;
    border-bottom-left-radius: 0;
    display: inline-block;
    margin-right: 2.5rem;
    min-width: 2.5rem;
    float: left;
}
.messages li.users {
}

.messages .message.users {
    text-align: right;
    position: relative;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    background: #00B4A0;
    border-radius: 1.25rem;
    border-bottom-right-radius: 0;
    display: inline-block;
    margin-left: 2.5rem;
    min-width: 2.5rem;
    float: right;
}

.messages .message:before,
.messages .message:after {
    content: "";
    position: absolute;
}

.messages .message:before {
    z-index: -2;
    bottom: -0.375rem;
    height: 0.375rem;
    width: 0.5rem;
}
.messages .message.users:before {
    background: #1cb3a0;
    right: 0;
}
.messages .message.bots:before {
    background: lightcoral;
    left: 0;
}

.messages .message:after {
    z-index: -1;
    bottom: -0.5rem;
    height: 0.5rem;
    width: 0.5rem;
}

.messages .message.bots:after {
    background: #fff;
    border-top-right-radius: 1.25rem;
}

.messages .message.users:after {
    background: #fff;
    border-top-right-radius: 1.25rem;
}